body{
	background: #e2e2e2!important;
}

.bg-primary{
	background: #009688!important;
}

.banner{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bg-main.png);
	background-size:cover;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
}

.my-card{
	padding: 25px;
	background: white;
	margin-top: 80px;
}

/* SideBar Styling */

@media only screen and (max-width:600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left: 0%!important;
	}
}

.sidebar{
	width: 17%;
	background: white;
	height: 100vh;
	position: fixed;
	padding-top: 50px;
	z-index: 999999999999999;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
	margin-top:7px;
	margin-left:10px;
}

.sidebar a:hover{
	background: #e2e2e2;
}

.content{
	margin-left: 20%;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
	
}

.search-container{
	position: relative;
}


.search-result{
	position:absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display:none;
}

